@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1220px;
// ※キュンパス幅ではなくインナーの幅を指す

$max-width: 500px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font: "Noto Sans JP", serif;
$second-font: "Outfit", sans-serif;
$third-font: "Inter", sans-serif;
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$highBold: 900;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #444;
$white: #fff;
$green: #00CCA1;
$darkgreen: #11998E;
$yellow: #FAFF00;

body {
  font-family: $base-font;
  color: $black;
  
}