@use "global" as *;

.campaign{
    text-align: center;
    position: relative;
    z-index: 100;
}

.campaign__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(1030);
        padding: 0 rem(25);
    }
}

.campaign__content{
    background-color: $white;
    padding: rem(21) rem(10) rem(40);
    border-radius: rem(10);
    box-shadow: 0px 6px 19px rgba(216, 216, 216, 1);
    @include mq(md) {
        padding: rem(20) rem(0) rem(46);
    }
}

.campaign__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 rem(7);
    @include mq(md) {
        gap: 0 rem(27); 
    }
}

.campaign__title{
    color: $darkgreen;
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(18);
        line-height: calc(32/18);
    }
}

.campaign__title span {
    font-size: rem(18);
    @include mq(md) {
        font-size: rem(18);
    }
}

.campaign__border{
    width: rem(60);
    border-top: solid 1px $green;
    @include mq(md) {
        width: rem(280);
    }
}










.campaign__buttons{
    margin-top: rem(31.34);
    @include mq(md) {
        margin-top: rem(36);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 rem(26);
    }
}

.campaign__button + .campaign__button{
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.campaign__buttons a {
    display: inline-block;
}



.campaign__button {
    position: relative;
    z-index: 1;
}

.campaign__button-comment {
    position: absolute;
    top: -23%;
    left: 50%;
    transform: translateX(-50%);
    width: rem(175);
    height: rem(23);
    z-index: 100;
    @include mq(md) {
        top: -15%;
        width: rem(279);
        height: rem(36);
    }
}

.campaign__button-text  {
    position: relative;
    background: $green;
    color: $white;
    font-size: rem(13.87);
    font-weight: $bold; 
    letter-spacing: 0.01em;
    padding-left: rem(4);
    width: rem(245);
    padding-top: rem(12.5);
    padding-bottom: rem(12);
    border-radius: rem(27);
    border: solid 1.69px $darkgreen;
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    box-shadow: 0px 0px 10.76px rgba(0, 0, 0, 0.29);
    @include mq(md) {
        width: rem(389);
        font-size: rem(22);
        padding-top: rem(20.5);
        padding-bottom: rem(20.5);    
        border-radius: rem(86.07);
        border: solid 2.69px $darkgreen;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%; // 初期位置をボタンの左外に設定
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent); // 光のライン
        transform: skewX(-25deg);
        transition: 0.4s;
    }

    &:hover::before {
        left: 100%; // マウスオーバー時に右に移動させて、光が通り抜けるように
        transition: 0.4s; // 移動アニメーションの時間を調整
    }
}

.campaign__button-text--white{
    font-family: $third-font;
    background: $white;
    color: $green;
}

.campaign__button-text span::after {
	background-image: url(../images/common/button-icon-whitearrow.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(28);
    width: rem(11.34);
	height: rem(11.34);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        top: 51%;
        right: rem(50);
        width: rem(18);
        height: rem(18);
    }
}

.campaign__button-text--white span::after{
	background-image: url(../images/common/button-icon-greenleft.webp);
}

.campaign__button:hover .campaign__button-comment {
    transform: translate(-50%, -23%); /* X軸は中央に固定し、Y軸を少し上に移動 */
    transition: transform 0.3s ease; /* 移動アニメーションの速度 */
}
