@use "global" as *;

.footer-nav__list{
    margin-top: rem(26);
    @include mq(md) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(20);
        margin-top: rem(0);
    }
}

.footer-nav__item + .footer-nav__item{
    margin-top: rem(10);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.footer-nav__box{
    display: flex;
    align-items: center;
    gap: rem(4);
}

.footer-nav__icon{
    width: rem(21);
    height: rem(21);
}

.footer-nav__text{
    color: $darkgreen;
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: 0.01em;
}





