@use "global" as *;

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(20);
    height: rem(60);
    background-color: $white;
    @include mq(md){
        padding-left: rem(104);
        padding-right: rem(37);
        height: rem(81);
    }
}

.header__logo {
    width:rem(149) ;
    height: rem(36);
    position: relative;/* z-indexをきかせるため */
    z-index: 9999;
    @include mq(md){
        width: rem(256);
        height: rem(63);
    }
}

@keyframes sparkle {
    0% {
        background-position: -100%;
    }
    50% {
        background-position: 200%;
    }
    100% {
        background-position: 200%;
    }
}

.header__trial {
    height: rem(49);
    background-image: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    background-size: 200%;
    animation: sparkle 4s infinite;
    @include mq(md) {
        
        height: rem(70);
    }
}



.header__sp-nav{
    padding-top: rem(70);
}