@use "global" as *;

.support{
    text-align: center;
}

.support__heading{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    line-height: 1.58;
    @include mq(md) {
        max-width: rem(1070);
        padding: 0 rem(25);
        line-height: 1.36;
    }
}

.support__flex{
    display: flex;
    align-items: center;
}

.support__topLine,
.subhead__bottomLine{
    border-top: 3px solid #19AA8B;
    width: 100%;
}

.subhead__bottomLine{
    margin-top: rem(20);
}

.support__check{
    width: rem(60);
    height: rem(60);
    @include mq(md) {
        width: rem(70);
        height: rem(70);
    }
}



.support__title{
    color: $black;
    font-size: rem(24);
    font-weight: $bold;
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(36);
    }
}

.support__title-color{
    color: $green;
    font-size: rem(28);
    @include mq(md) {
        font-size: rem(48);
    }
}

.support__list{
    margin-top: rem(60);
    @include mq(md) {
        margin-top: rem(79);
        display: flex;
    }
}

.support__item{
    background-color: $darkgreen;
    padding: rem(40) 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include mq(md) {
        width: 50%;
    }
}

.support__item--right{
    background-color: #F6F6F6;
}

.support__content{
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 rem(25);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include mq(md) {
        max-width: rem(468);
        padding: 0;
    }
}

.support__content--right{
    @include mq(md) {
        max-width: rem(551);
    }
}

.support__comment{
    width: rem(339);
    height: rem(43);
    margin: 0 auto;
    @include mq(md) {
        width: rem(468);
        height: rem(60);
    }
}

.support__img{
    width: rem(220);
    height: rem(150);
    margin: 0 auto;
    @include mq(md) {
        width: rem(303);
        height: rem(204);       
    }
}

.support__img--right{
    width: rem(295);
    height: rem(155);
    margin: 0;       // メディアクエリ内でもリセット
    margin-left: auto;
    @include mq(md) {
        width: rem(420);
        height: rem(224);
        margin-right: rem(34);
    }
}

.support__wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
    margin-top: rem(22.3);
    padding: 0 rem(10);
    @include mq(md) {
        margin-top: rem(0);
        padding: 0;
    }
}

.support__text{
    color: $white;
    font-size: rem(13);
    font-weight: $bold;
    line-height: calc(20.4/13);
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    @include mq(md) {
        font-size: rem(16);
        line-height: calc(28/16);
    }
}

.support__text--right{
    color: $black;
}















.support__button{
    margin-top: rem(31.34);
    position: relative;
    z-index: 1;
    @include mq(md) {
        margin-top: rem(36);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 rem(26);
    }
}

.support__button-comment {
    position: absolute;
    top: -23%;
    left: 50%;
    transform: translateX(-50%);
    width: rem(175);
    height: rem(22);
    z-index: 100;
    @include mq(md) {
        top: -23%;
        width: rem(279);
        height: rem(36);
    }
}

.button__bg{
    position: relative;
}

.button__bg::before{
    background-image: url('../images/common/button-free.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(17);
    left: calc(50% - min(50%, rem(110)));
    width: rem(32);
    height: rem(17);
    z-index: 100;
    @include mq(md) {
        top: rem(27);
        left: calc(50% - min(50%, rem(170)));    
        width: rem(52);
        height: rem(28);      
    }
}

.support__button-text  {
    position: relative;
    background: $green;
    color: $white;
    font-size: rem(13.87);
    font-weight: $bold; 
    letter-spacing: 0.01em;
    padding-left: rem(4);
    width: rem(245);
    padding-top: rem(12.5);
    padding-bottom: rem(12);
    border-radius: rem(27);
    border: solid 2.69px $darkgreen;
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    box-shadow: 0px 0px 10.76px rgba(0, 0, 0, 0.29);
    @include mq(md) {
        width: rem(389);
        font-size: rem(22);
        padding-top: rem(20.5);
        padding-bottom: rem(20.5);    
        border-radius: rem(86.07);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%; // 初期位置をボタンの左外に設定
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent); // 光のライン
        transform: skewX(-25deg);
        transition: 0.4s;
    }

    &:hover::before {
        left: 100%; // マウスオーバー時に右に移動させて、光が通り抜けるように
        transition: 0.4s; // 移動アニメーションの時間を調整
    }
}

.support__button-text--white{
    background: $white;
    color: $green;
}

.support__button-text span::after {
	background-image: url(../images/common/whitearrow.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(28);
    width: rem(11.34);
	height: rem(11.34);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        top: 51%;
        right: rem(50);
        width: rem(18);
        height: rem(18);
    }
}

.support__button-text--white span::after{
	background-image: url(../images/common/arrowgreen.webp);
}

